//crackpal.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.feef9686-b642-4718-8f46-8e8fba7df5ba/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
registry=https://crackpal.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.feef9686-b642-4718-8f46-8e8fba7df5ba/contents/release/npm/
omit-lockfile-registry-resolved=true
